@using SFA.DAS.Employer.Aan.Web.Models
@model EventNotificationSettingsViewModel
@{
    ViewData["Title"] = "Emails about upcoming events";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">"Emails about upcoming events</h1>


    </div>
</div>