@using SFA.DAS.Employer.Aan.Web.Infrastructure;
@using SFA.DAS.Employer.Aan.Web.Models.Onboarding;
@model ApplicationSubmittedViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Application submitted
            </h1>
        </div>

        <h2 class="govuk-heading-m">What happens next?</h2>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <p class="govuk-body">
            You can now continue to your ambassador hub, where you can learn more about the network and opportunities available to you.
        </p>

        <p class="govuk-body">
            Thank you for your interest in joining the network, members play a vital role in championing apprenticeships across England.
        </p>

        <a href="@Model.NetworkHubLink" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Continue to ambassador hub
        </a>
    </div>

</div>