@using SFA.DAS.Employer.Aan.Web.Models.Onboarding;
@model ApplicationSubmittedViewModel
@{
    ViewData["Title"] = "You have joined the Apprenticeship Ambassador Network";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You have joined the Apprenticeship Ambassador Network
            </h1>
        </div>
        <p class="govuk-body">
            Thank you for joining the network. Members help us inspire the next generation of apprentices.
        </p>
        <h2 class="govuk-heading-m">What to do next</h2>
        <h3 class="govuk-heading-s">Wait to hear from your regional network</h3>
        <p class="govuk-body">
            Your regional network will email you within the next <strong>2 weeks</strong>.
        </p>
        <h3 class="govuk-heading-s">Use the online portal</h3>
        <p class="govuk-body">
            Use the portal to sign up to network events.
        </p>
        <p class="govuk-body">
            Before attending your first event, sign up to a Your Story training session. You'll get tips on how to talk about your apprenticeship experience.
        </p>
        <p class="govuk-body">
            <a class="govuk-link" rel="noreferrer noopener" href="@Model.NetworkHubLink">Go to the online portal</a>
        </P>
    </div>
</div>