@using SFA.DAS.Employer.Aan.Web.Models.Onboarding
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model AreasToEngageLocallyViewModel
@{
    ViewData["Title"] = "Choose a regional network to join";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post">
            @Html.HiddenFor(m => m.EmployerAccountId)
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Find your regional network</span>
                        <h1 class="govuk-fieldset__heading">
                            Choose a regional network to join
                        </h1>
                    </legend>
                    <p />
                    <p class="govuk-body">
                        You're split between regions.
                    </p>
                    <p class="govuk-body">
                        Join where your company does the most work or has its head office. Your main contact will be with the regional network you join.
                    </p>

                    <div esfa-validation-marker-for="@Model.SelectedAreaToEngageLocallyId" class="govuk-form-group">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Which regional network would you like to join?
                            </h2>
                        </legend>

                        <span asp-validation-for="@Model.SelectedAreaToEngageLocallyId" class="govuk-error-message"></span>

                        <div id="SelectedAreaToEngageLocallyId" class="govuk-radios" data-module="govuk-radios">
                            @{
                                foreach (var region in Model.AreasToEngageLocally!)
                                {
                                    var regionIdentifier = region.Area!.Trim().Replace(' ', '-');
                                    var buttonIdentifier = $"region-{regionIdentifier}";

                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" asp-for=@Model.SelectedAreaToEngageLocallyId id=@buttonIdentifier type="radio" value=@region.Id>
                                        <label class="govuk-label govuk-radios__label" for=@buttonIdentifier>
                                            @region.Area
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button id="continue-button" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true" asp-page-handler="Submit">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>