@using SFA.DAS.Employer.Aan.Web.Models.Onboarding
@model BeforeYouStartViewModel
@{
    ViewData["Title"] = "Before you start";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Join the Apprentice Ambassador Network as an employer</h1>
        <div class="govuk-inset-text">
            You can become an apprenticeship ambassador if you employ an apprentice. You can also join if you’ve been an apprentice.
        </div>
        <h2 class="govuk-heading-m">Why become an ambassador</h2>

        <h3 class="govuk-heading-s">Help us inspire the next generation of apprentices</h3>

        <p>
            Share your own experience at our events. You’ll help people who are taking the next step in their careers.
        </p>
        <h3 class="govuk-heading-s">Network with other apprentice employers</h3>
        <p>
            Get support from your local network of other employer ambassadors.
        </p>
        <p>
            <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.apprenticeships.gov.uk/influencers/what-is-the-aan">Learn more about being an employer ambassador (opens in new tab)</a>
        </p>
        <h2 class="govuk-heading-m">How to join</h2>

        <p>
            Use this service to register with your local regional network.
        </p>
        <p>
            You’ll also get access to our online portal. Use the portal to:
        </p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
            <li>sign up to attend events</li>
            <li>network with other ambassadors</li>
        </ul>
        <div class="govuk-button-group">
            <form method="post">
                <button id="start-now" class="govuk-button govuk-button--start" data-module="govuk-button" data-disable-on-submit="true">
                    Join Now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </button>

            </form>
        </div>
    </div>
</div>