@using SFA.DAS.Employer.Aan.Web.Infrastructure
@using SFA.DAS.Employer.Aan.Web.Models.Onboarding
@model PrimaryEngagementWithinNetworkViewModel
@{
    ViewData["Title"] = "Joining AAN when you work in many different regions";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post">
            @Html.HiddenFor(m => m.EmployerAccountId)
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-l govuk-!-margin-bottom-0">Find your regional AAN</span>
                    <h1 class="govuk-fieldset__heading">
                        Joining AAN when you work in many different regions
                    </h1>
                </legend>
                <P class="govuk-body">
                    You can choose which type of network you want to join.
                </P>
                <h2 class="govuk-heading-m">
                    A regional network
                </h2>
                <P class="govuk-body">
                    These networks work with employers in a specific area.
                </P>
                <h2 class="govuk-heading-m">
                    The multi-regional network
                </h2>
                <P class="govuk-body">
                    This network specifically works with nationwide employers that have lots of working locations. For example, a large national chain.
                </P>
                <h3 class="govuk-heading-s">
                    If you only want to be an ambassador in one part of England
                </h3>
                <P class="govuk-body">
                    You might work for a large company, but only want to do ambassador work in one part of England. If this is you, select to join a regional network.
                </P>
                <div esfa-validation-marker-for="IsMultiRegionalOrganisation" class="govuk-form-group">
                    <h2 class="govuk-heading-m">
                        Which network do you want to join?
                    </h2>
                    <span asp-validation-for="IsMultiRegionalOrganisation" class="govuk-error-message"></span>
                    <div id="IsMultiRegionalOrganisation-options" class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="IsMultiRegionalOrganisation" class="govuk-radios__input" type="radio" value="false"
                                   sfa-validationerror-class="form-control-error">
                            <label class="govuk-label govuk-radios__label" for="IsMultiRegionalOrganisation">
                                A specific regional network (choose which region at the next step)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="IsMultiRegionalOrganisation" id="multiRegionalOrganisation" class="govuk-radios__input" type="radio" value="true"
                                   sfa-validationerror-class="form-control-error">
                            <label class="govuk-label govuk-radios__label" for="multiRegionalOrganisation">
                                The multi-regional network
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="govuk-button-group">
                <button id="continue" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>