@using SFA.DAS.Employer.Aan.Web.Infrastructure
@using SFA.DAS.Employer.Aan.Web.Models.Onboarding
@model PrimaryEngagementWithinNetworkViewModel
@{
    ViewData["Title"] = "Primary engagement with in network";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form method="post">
            @Html.HiddenFor(m => m.EmployerAccountId);
            <fieldset class="govuk-fieldset">
                <div esfa-validation-marker-for="IsLocalOrganisation" class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-l">
                            Who would you like to primarily engage with in the network?
                        </h1>
                    </legend>
                    <p />
                    <div id="IsMultiRegionalOrganisation-hint" class="govuk-hint">
                        You work for multi-regional employer, which can impact how you engage with fellow network members at national or regional level. Provide us with your engagement preferences below.
                    </div>
                    <span asp-validation-for="IsLocalOrganisation" class="govuk-error-message"></span>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Why we require this information
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            We require this information as it will impact on which team manages your application. The option you choose will not limit your engagement opportunities on either a national or regional level.
                        </div>
                    </details>
                    <div id="IsMultiRegionalOrganisation-options" class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="IsLocalOrganisation" class="govuk-radios__input" type="radio" value="true"
                                   sfa-validationerror-class="form-control-error">
                            <label class="govuk-label govuk-radios__label" for="IsLocalOrganisation">
                                Local organisations
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="IsLocalOrganisation" id="multiRegionalOrganisation" class="govuk-radios__input" type="radio" value="false"
                                   sfa-validationerror-class="form-control-error">
                            <label class="govuk-label govuk-radios__label" for="multiRegionalOrganisation">
                                Multi-regional organisations
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="govuk-button-group">
                <button id="continue" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>