@using SFA.DAS.Employer.Aan.Web.Infrastructure;
@using SFA.DAS.Employer.Aan.Web.Models.Onboarding
@model TermsAndConditionsViewModel
@{
    ViewData["Title"] = "Terms and conditions";
}

<div class="govuk-grid-row govuk-body">
    <p class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Terms and conditions</h1>

        <p class="profile-job-title">
            Membership
        </p>
        <span class="termsandcondition-font-size">All Apprenticeship Ambassador Network (AAN) members must:</span>
        <ul class="govuk-list govuk-list--bullet">
            <li>be over 18 years old</li>
            <li>either work for an organisation that employs apprentices in their workforce, or be a current or former apprentice</li>
            <li>remain impartial and promote the entire apprenticeship programme, not just their organisation’s provision</li>
        </ul>

        <p>
            The regional AAN reserve the right to refuse any application of membership.
            A member can end their membership at any time within the portal. Their personal details will be deleted after 14 days, should they wish to change their mind immediately after leaving. Leaving the AAN portal won’t delete a member’s data from the AAN, only from the portal.
        </p>

        <p class="profile-job-title">
            Participation
        </p>
        <span class="termsandcondition-font-size">As a member of the AAN, ambassadors must sign up to receive national and regional communications and notifications. Ambassadors should also:</span>
        <ul class="govuk-list govuk-list--bullet">
            <li>engage and participate in suitable training and development activity offered</li>
            <li>regularly volunteer to support key AAN activity throughout their membership</li>
            <li>engage with their local network and attend local meetings and other activity where appropriate</li>
            <li>remain active and regularly log into the AAN portal to sign up to support activity and events, update their profile and record their volunteering activity</li>
        </ul>
        <p>
            Any ambassador that remains inactive will be removed from the network.
        </p>

        <p class="profile-job-title">GDPR and data retention</p>

        <p>
        Please refer to the <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" target="_blank">Personal information charter</a> and review Business contacts and stakeholders under Privacy notices. System administrators will be able to access all information held on the portal.
        </p>
        <p>You can review and change your sharing preferences at any time within your profile settings.</p>
        <div class="govuk-button-group">
            <form method="post" asp-route-employerAccountId="@Model.EmployerAccountId">
                <button id="confirm-continue" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Confirm and continue
                </button>
            </form>
    </div>
</div>