@using SFA.DAS.Employer.Aan.Web.Models.AmbassadorProfile;
@model AmbassadorProfileViewModel
@{
    ViewData["Title"] = "Your ambassador profile";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (ViewBag.YourAmbassadorProfileSuccessMessage != null)
        {
            <div class="confirmation-message govuk-!-margin-bottom-6">
                <div class="govuk-panel--confirmation">
                    <h3 class="govuk-panel__title govuk-!-padding-top-1 govuk-!-padding-left-2 govuk-!-padding-bottom-2">
                        Success
                    </h3>
                </div>
                <div class="govuk-panel__body">
                    <p class="govuk-!-margin-bottom-0 govuk-!-padding-top-2 govuk-!-padding-left-2 govuk-!-padding-bottom-2">
                        <b>You have successfully updated your ambassador profile.</b>
                    </p>
                </div>
            </div>
        }
        <h1 class="govuk-heading-xl">Your ambassador profile</h1>
        <p>
            You can <a class="govuk-link govuk-link--no-visited-state govuk-link" href="@Model.MemberProfileUrl" target="_blank">view your current ambassador profile</a>. You can
            add or change the information that we hold and choose what you display on your profile.
        </p>

        @{
            await Html.RenderPartialAsync("PersonalDetails", Model.PersonalDetails);
        }

        @{
            await Html.RenderPartialAsync("InterestInTheNetwork", Model.InterestInTheNetwork);
        }

        @{
            if (Model.ShowApprenticeshipDetails)
            {
                await Html.RenderPartialAsync("ApprenticeshipInformation", Model.ApprenticeshipDetails);
            }
        }

        @{
            await Html.RenderPartialAsync("ContactDetails", Model.ContactDetails);
        }

    </div>
</div>