<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You do not have access to this area of the website</h1>
        <p>
            We are currently running user testing on the private beta version of the Apprenticeship Ambassador Network website.
        </p>
        <p>
            A new website will be available soon.
        </p>
    </div>
</div>
