@{
    ViewData["Title"] = "You no longer have access to the network";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You no longer have access to the network</h1>
        <p>
            Your account has been suspended. Email the National Team on <a href="mailto:AAN.enquiries@education.gov.uk" class="govuk-link">AAN.enquiries@education.gov.uk</a> to restore your account.
        </p>
    </div>
</div>